.special {
  min-width: 320px;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width:1200px){
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.special__item{
  text-align: center;
  &:not(:last-child){
  margin-bottom: 30px;
  }
  @media screen and (min-width:768px){
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
    &:not(:last-child){
  margin-bottom: 0px;
  }
  }
}
.special-list{
@media screen and (min-width:768px){
  display: flex;
  flex-direction: inherit;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;

  }
  @media screen and (min-width:1200px){
    flex-wrap:inherit;
  }
}
.special__icon-list {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.special-item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}
.special-text {
  font-size: 14px;
  line-height: 1.74;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--main-text-color);
}