:root {
  --second-title-color: #ffffff;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-btn-color: #ffffff;
  --second-btn-color: #212121;
  --header-text-color: #212121;
  --footer-text-color: #ffffff;
  --second-footer-text-color: #ffffff99;
}